
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccessDenied.. Kandam vazhi Oodikyo</h2>
<a asp-area="" asp-controller="Account" asp-action="Logout">Click here to logout</a>


